.cart-delivery {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.cart-delivery-home-group {
    display: flex;
    flex-direction: column;
}

.cart-delivery-home,
.card__body-station-delivery {
    width: 45%;
}
.card__body-station-delivery-select {
    width: 100%;
    option {
        border: 0;
    }
}

.cart-delivery-choice {
    align-self: center;
    margin: 25px 0;
}

@media screen and (max-width: 1500px) {
    .cart-delivery {
        flex-direction: column;
    }
    .cart-delivery-home{
        width: 100%;
    }
}
