.authentification{
    padding-top: 225px;
    min-height: 120vh;
    background-size: cover;
    background-repeat: no-repeat;
    .card{
        top: 150px;
        right: 250px;
        position: absolute;
        width: 35%;
        padding:0;
        border: 0;

    }
}

.card-head{
    display: flex;
    justify-content: space-around;
    background-color: #1A1E27;
    padding: 30px;
    border-radius: 14px 14px 0 0;
    border: 0;
}

.authentification__title{
    font-size: 25px;
    font-weight: 900;
    color: white;
    opacity: 0.5;
    cursor: pointer;
    &.active-link{
        opacity: 1;
    }
}

.auth-form{
    display: none;
}



.active-content{
    display: block;
}