.authentification{
    height: 110vh;
    .card{
        // top: 150px;
        // right: 250px;
        // position: absolute;
        width: 45%;
        margin: auto 5%;
        margin-top: 150px;
        padding:0;
        border: 0;
        margin-bottom: 120px
    }
}

.card-head{
    display: flex;
    justify-content: space-around;
    background-color: #1A1E27;
    padding: 30px;
    border-radius: 14px 14px 0 0;
    border: 0;
}

.authentification__title{
    font-size: 25px;
    font-weight: 900;
    color: white;
    opacity: 0.5;
    cursor: pointer;
    &.active-link{
        opacity: 1;
    }
}

.auth-form{
    display: none;
}



.active-content{
    display: block;
}


@media screen and (max-width: 800px){

    .authentification__title{
        font-size: 1em;
    }
}