@import "layout/global.scss";

[class^= "btn-"]{
    padding: 8px 15px;
    border-radius: 8px;
    text-align: center;
    display: block;
    margin: auto;
    transition: all 0.2s ease;
    border: 2px solid transparent;
    &:focus{
        outline: none;
    }
}

.btn-first{
    background: $secondary-color ;
    border-color: $secondary-color;
    color: white;
    border: 0;
    &:hover{
        color: white;
        box-shadow: 0px 3px 25px darken($secondary-color, 5%);
    }
    &.disabled{
        background: lighten($secondary-color, 15%);
        &:hover{
            box-shadow: none;
        }
    }
}

.btn-second{
    border-color: $secondary-color;
    background: transparent;
    color: $secondary-color;
}


.btn-third{
    border-color: transparent;
    background: white;
    color: $third-color;
    &:hover{
        color: white;
        background: transparent;
        border-color: white;
    }
}