.cart {
    padding: 185px 0;
    min-height: 86vh;
    background-color: #F7F7F7;
    .third-title {
        text-align: center;
        margin-bottom: 35px;
    }
}

.card__body{
    margin: 0 8%;
    .btn-first{
        margin-top: 25px;
    }
}

.cart__not-empty{
    display: flex;
    justify-content: space-between;
}

.cart__infos-cart{
    width: 70%;
}

input:first-child{
    margin-top: 32px;
}



