@import "../../layout/global.scss";

.presentation__content {
    text-shadow: 0px 4px 6px #0000002e;
    text-align: center;
    max-width: 75%;
    margin: auto;
    color: white;
    margin-bottom: 70px;
}

.quality-board__content {
    color: $primary-color;
}

.quality-board__block {
    width: 50%;
}

.quality-board .fp-tableCell {
    display: flex;
    &::after {
        width: 60%;
        height: 116%;
        background-size: 45%;
        content: " ";
        background-image: url("https://firebasestorage.googleapis.com/v0/b/snow-board-app-70ada.appspot.com/o/ChamonixRV.png?alt=media&token=be896ab2-6303-4925-af84-9e0daac849c5");
        background-repeat: no-repeat;
        position: absolute;
        right: -60vh;
        top: -100px;
        transform: rotate(-35deg);
    }
}

.quality-board__image {
    width: 100%;
}

.quality-board__list {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.quality-board__list-item {
    margin: 0 25px;
    font-weight: 900;
    flex: 1 1 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    img {
        height: 70px;
        margin-bottom: 35px;
    }
}

.new-collection{
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.new-collection .secondary-title {
    text-align: center;
}

.new-collection__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.new-collection__img {
    flex: 0 0 16%;
    // width: 10px;
    max-width: 15%;
    margin: 10px;
    min-width: 75px;
}
.video {
    position: relative;
    overflow: hidden;
}
.video__title {
    position: absolute;
    bottom: -5px;
    z-index: 4500;
    color: white !important;
}

.wrapper__video {
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: -15%;
}

.athletes {
    background-color: $primary-color;
    .secondary-title {
        color: white;
        text-align: center;
    }
    &::after {
        position: absolute;
        right: -226px;
        bottom: -25vh;
        width: 600px;
        height: 100%;
        content: " ";
        background: url("https://firebasestorage.googleapis.com/v0/b/snow-board-app-70ada.appspot.com/o/athletes-2.png?alt=media&token=10e04b08-efc7-456a-b1b0-1a7cb2f38997")
            no-repeat;
    }

    &::before {
        position: absolute;
        left: -110px;
        bottom: -25vh;
        width: 600px;
        height: 100%;
        content: " ";
        background: url("https://firebasestorage.googleapis.com/v0/b/snow-board-app-70ada.appspot.com/o/athletes-1.png?alt=media&token=ac6f136f-502c-40fc-96ae-f7cc9a6c120f")
            no-repeat;
    }
}

.athletes-content {
    color: white;
    width: 36%;
    text-align: center;
    margin: auto;
    margin-bottom: 65px;
}

.specificity {
    .secondary-title {
        text-align: center;
    }
}
.specificity__img-group {
    position: relative;
    flex: 1 1 30%;
}
.specificity__infos {
    display: flex;
    [class^="specificity__tick"] {
        position: absolute;
        width: 65px;
        height: 65px;
        left: 0;
        border-radius: 50%;
        cursor: pointer;
        background-color: white;
        border: solid 3px #f2081b;
        &::before, &::after{
            content: "";
            position: absolute;
            left: 28px;
            top: 12px;
            width: 0.3rem;
            height: 35px;
            background-color: #f2081b;
            border-radius: 100px;
            border: 0;
            transition: all 0.4s ease-out;
        }
        &::after{
            transform: rotate(90deg);
            width: 0.25rem;
        }
        &.active{
            background-color: #f2081b;
            &::before, &::after{
                background-color: white;
            }
        }
        &.specificity__tick-2 {
            top: 47%;
            left: 46%;
        }
        &.specificity__tick-1 {
            top: 3%;
            left: 7%;
        }
        &.specificity__tick-3 {
            top: 77%;
            left: 74%;
        }

    }
    // [class^="specificity__line"] {
    //     position: absolute;
    //     cursor: pointer;
    //     border: 0;
    //     &.specificity__line-2 {
    //         transform: rotate(-113deg);
    //         height: 0px;
    //         left: 531px;
    //         top: 42px;
    //         &.active{
    //             border: solid 2px #f2081b;
    //             height: 324px;
    //         }
    //     }
    //     &.specificity__line-1 {
    //         transform: rotate(-80deg);
    //         height: 0px;
    //         left: 406px;
    //         top: -183px;
    //         &.active{
    //             border: solid 2px #f2081b;
    //             height: 548px;
    //         }
    //     }
    //     &.specificity__line-3 {
    //         transform: rotate(3deg);
    //         height: 0px;
    //         left: 673px;
    //         top: 140px;  
    //         &.active{
    //             height: 279px;
    //             border: solid 2px #f2081b;
    //         }      
    //     }
        
    // }
}

.specificity__img {
    width: 85%;
}

.specificity__content {
    flex: 1 1 30%;
    margin-top: 125px;
    margin-left: 15px;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        left: -40px;
        top: 8px;
        border-radius: 50%;
        cursor: pointer;
        background-color: #f2081b;
    }

    .third-title {
        margin-bottom: 25px;
    }
}


#fp-nav.fp-right {
    right: 0;
    left: 5%;
    width: 20px
}




@media screen and (max-width: 1100px){
    .presentation__content {
        font-size: 1.3rem;
    }

    .quality-board .fp-tableCell {
        display: flex;
        &::after {
            display: none;
        }
    }
    .quality-board__block {
        width: 100%;
    }
    .specificity__infos{
        flex-direction: column;
    }
    .specificity__content {
        margin-top: 50px;
    }
    .specificity__img {
        width: 80%;
    }
    .athletes::after, .athletes::before {
        display: none;
    }
    .athletes-content {
        width: 60%;
    }
}


@media screen and (max-width: 800px){
    .presentation__content {
        font-size: 1rem;
    }
    .quality-board__list{
        margin-top: 10px;
    }
    .quality-board__content{
        display: none;
    }
    .specificity__infos [class^="specificity__tick"] {
        width: 35px;
        height: 35px;
        &::before, &::after{
            left: 13px;
            top: 5px;
            width: 0.15rem;
            height: 19px;
        }
    }
}