.athlete{
    background-color: #F7F7F7;
    .card{
        justify-content: space-between;
        .third-title{
            text-align: center;
        }
    }
    .primary-title{
        text-align: left;
    }
}

.athlete__block{
    display: flex;
    gap: 10%;
    min-height: 570px;
    &:not(:first-child){
        padding-bottom: 120px;
    }
    &:not(:last-child){
        margin-top: 120px;
    }
}

.athlete__personal-infos, .athlete__palmares{
    flex: 1 0 30%;
}

.athlete__video, .athlete__biographie{
    flex: 1 0 60%;
}



.athlete__block-content{
    margin-top: 30px;
}