@import "layout/global.scss";
.cart-header {
    display: flex;
    justify-content: space-around;
    .third-title, 
    .cart-header-icon{
        cursor: pointer;
    }
}

.cart-title-disabled {
    color: #d3d3d3 !important;
    .red-point {
        color: #d3d3d3;
    }
}

.cart-header-icon{
    display: none;
    &.cart-title-disabled{
        color: $secondary-color;
    }
}

@media screen and (max-width: 1500px) {
    .cart__infos-cart .third-title{
        display: none;
    }
    .cart-header-icon{
        display: block;
        margin-bottom: 35px;
        font-size: 3em;
    }

}

@media screen and (max-width: 900px) {
    .cart-header-icon{
        font-size: 2em;
    }
}