.error-page{
    flex-direction: column;
    padding-top: 16vh;
    justify-content: flex-start;
    .btn-first{
        margin: 0;
    }
}
.error-page__content{
    text-align: center;
    font-weight: 700;
    font-size: 25px; 
    color: white;
}