.order-summary{
    width: 25%;
}

.order-summary-group{
    display: flex;
    justify-content: space-between;
    .card-title{
        margin-bottom: 0;
    }
}

.order-summary-list{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    li{
        span{margin-top: 10px;}
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 16px;
        align-items: center;
        img{
            max-width: 80%;
        }
    }
}

@media screen and (max-width: 1500px) {
    .order-summary{
        width: 100%;
    }
}