.auth-form{
    padding: 50px;

}

.auth-form__link{
    text-decoration: underline;
    cursor: pointer;
    color:#6c757d;
    &:hover{
        color:#4f5458;
        text-decoration: underline;
    }
}
