$primary-color: #1a1e27;
$secondary-color: #F2081B;
$third-color: #1B2B40;

.container{
    max-width: 75%;
    margin: auto;
}

.red-point{
    color: red;
}




%title{
    font-weight: 900;
}

.primary-title {
    @extend %title;
    font-size: 122px;
    color: white;
    text-align: center;
}

.secondary-title {
    @extend %title;
    margin-bottom: 50px;
    font-size: 50px;
    color: $primary-color;
    text-align: left;
}

.third-title {
    @extend %title;
    font-size: 30px;
    color: $primary-color;
    text-align: none;
    margin-bottom: 20px;
}




.input{
    background-color: #E9E9E9;
    border: 0;
    padding: 17px 14px;
    border-radius: 8px;
    &:not(:first-child){
        margin-top: 32px;
    }
    width: 100%;
    &:focus{
        outline: none;
    }
}

.primary-content{
    font-size: 30px;
}

.secondary-content{
    font-size: 16px;
}




@media screen and (max-width: 1100px){
    .primary-title {
        font-size: 75px;
    }
    .secondary-title{
        font-size: 35px;
        margin-bottom: 30px;
    }
    .primary-content {
        font-size: 1.3rem;
    }
    .secondary-content{
        font-size: 16px;
    }
}



@media screen and (max-width: 800px){
    .primary-title {
        font-size: 50px;
    }
    .primary-content {
        font-size: 1rem;
    }
    .secondary-content{
        font-size: 14px;
    }
}


