.container{
    max-width: 75%;
    margin: auto;
}

.red-point{
    color: red;
}

.btn-first{
    padding: 10px 15px;
    background: #F2081B ;
    border-radius: 8px;
    color: white;
    text-align: center;
    display: block;
    margin: auto;
    transition: all 0.2s ease;
    border: 0;
    &:hover{
        color: white;
        box-shadow: 0px 3px 25px #F2081B66;
    }
}

.btn-second{
    padding: 10px 15px;
    border: 2px solid #F2081B;
    background: transparent;
    border-radius: 8px;
    color: #F2081B;
    text-align: center;
    display: block;
    margin: auto;
    transition: all 0.2s ease;
    &:hover{
        color: #F2081B;
        box-shadow: 0px 3px 25px #F2081B66;
    }
}